
<!DOCTYPE html>
<html lang="en" ng-app="rsvp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="rsvps for our conference">
    <meta name="author" content="ff">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Colab Conference</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <!-- angularJS (manipulates some CSS..) -->
    <script type="text/javascript" src="js/angular.min.js"></script>

    <!-- some fonts -->
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">


          <div class="inner cover" ng-controller="rsvpCtrl" id='background'>
            <h1 class="cover-heading" id="title">Colab Conference</h1>
            
            <p class="gfont indentNOW">We are excited to announce <strong>CoLab’s 2015 Conference</strong>.  Given the diverse interests of our collaborators, will be holding two meetings on back-to-back weekends.  The <strong>weekend of July 4, 2015</strong> will be dedicated to sharing ideas and doing workshops that are meant to stimulate future collaboration on projects (i.e., art pieces, software, sustainability, future of technology, grants, companies, et al).  The weekend of <strong>July 11, 2015</strong> will be dedicated to doing labor and planning efforts related solely toward <em>our shared land in Tennessee</em>.  We are continuing to hold this annual event in order to unite people with shared values and interests in hopes of solidifying a network that supports one another in the tangible and intellectual progression of these goals and values.  Plus getting cool people together is always fun!</p>

            <p class="gfont indentNOW">Many of us will be staying for both meetings and plan to do work and have fun during the week in between.  Feel free to stay throughout as there should be some great camping, building, jamming, and outdoor activity.</p>

            <p class="gfont indentNOW">The location of the conference is at our land - 656 Fairview School Lane, Gainesboro, TN.  In order to RSVP, please click below and enter your information.  Please RSVP by <strong>May 15, 2015</strong> so we have plenty of time to plan the weekends, answer questions, and help find transportation.  Afterwards, we will contact you with follow up details.  If you have any questions feel free to get in touch with us at contactcolab@googlegroups.com</p>

            <p class="gfont">Hope to see you in July!</p>
            &nbsp;
            
            <p class="lead">
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal" ng-hide="rsvpSent()">
                  I want to come!
                </button>
                <button class="btn-lg" ng-show="rsvpSent()">
                  RSVP Sent!
                </button>           
            </p>

            <div id='citations' class='margtop'>
              <p class='gfont grey'>
                <sup>1</sup> There will be people there during the surrounding weeks of the conference so feel free to let us know if you have an interest in coming early or staying late to help out or hang out.
              </p>
            </div>

            <!-- Modal -->
            <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">

                <!-- rsvpCtrl -->
                <div class="modal-content" ng-hide="rsvpSent()">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modalTitle" id="myModalLabel">Tell us about yourself</h4>
                  </div>

                  <!-- form for submission -->
                  <div class="modal-body">
                    <form class="form-horizontal" role="form" id="rsvpForm">

                      <div class="form-group">
                        <label for="inputName" class="col-sm-3 control-label">name</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputName" placeholder="First Last" ng-model="rsvpName">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputEmail" class="col-sm-3 control-label">email</label>
                        <div class="col-sm-9">
                          <input type="email" class="form-control" id="inputEmail" placeholder="preferred@contact.com" ng-model="rsvpEmail">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputWeekend" class="col-sm-3 control-label">weekend?</label>
                        <div class="col-sm-9">
                          <textarea rows="5" class="form-control" id="inputWeekend" placeholder="I'm coming [July 4 / July 11 / Both]" ng-model="rsvpWeekend"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputShare" class="col-sm-3 control-label">anything to share?</label>
                        <div class="col-sm-9">
                          <textarea rows="5" class="form-control" id="inputShare" placeholder="Will you come with an idea/workshop to share with the group?  If so, can you give us any details?" ng-model="rsvpShare"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputInterest" class="col-sm-3 control-label">main interests</label>
                        <div class="col-sm-9">
                          <textarea rows="5" class="form-control" id="inputInterest" placeholder="Are there any topics or interests that excite you the most about coming?" ng-model="rsvpInterest"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputLocation" class="col-sm-3 control-label">where ya coming from?</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputLocation" placeholder="What city will you be traveling from?" ng-model="rsvpLocation">
                        </div>
                      </div>

                      <div class="form-group">
                        <label for="inputTrans" class="col-sm-3 control-label">transportation</label>
                        <div class="col-sm-9">
                          <select class="form-control" ng-model="rsvpTrans" id="inputTrans" ng-options="t for t in transportations">
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group" ng-show="driving()">
                        <label for="inputTransRoom"class="col-sm-3 control-label">capacity</label>
                        <div class="col-sm-9">
                          <select class="form-control" ng-model="rsvpTransRoom" id="inputTransRoom" ng-options="l for l in [1,2,3,4,5,6]">
                            <option></option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputDiet" class="col-sm-3 control-label">food</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputDiet" placeholder="Any dietary restrictions?" ng-model="rsvpDiet">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputMoney" class="col-sm-3 control-label">contribute</label>
                        <div class="col-sm-9">
                          <input type="text" class="form-control" id="inputMoney" placeholder="Possible for you to throw toward food/supplies?  How much?" ng-model="rsvpMoney">
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputFriend" class="col-sm-3 control-label">any fellow travelers?</label>
                        <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="inputFriend" placeholder="Any other people you are RSVP'ing for?  If so, who and how many?" ng-model="rsvpFriend"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputComment" class="col-sm-3 control-label">comment</label>
                        <div class="col-sm-9">
                          <textarea type="text" class="form-control" id="inputComment" placeholder="Any other information to share?" ng-model="rsvpComment"></textarea>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="inputDate" class="col-sm-3 control-label">arrival</label>
                        <div class="col-sm-9">
                          <input name="arrivalDate" class="form-control" type="text" ng-model="rsvpDate" id="inputDate" placeholder="What day do you plan to arrive?">
                        </div>
                      </div>

                    </form>
                  </div>


                  <!-- footer -->
                  <div class="modal-footer">
                    <button type="button" class="btn btn-primary" ng-click="addRsvp()" type="submit" data-dismiss="modal">Submit RSVP</button>
                  </div>

                </div> <!-- end modal content and rsvpCtrl -->

              </div>

            </div><!-- end Modal -->
            
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/rsvp.js"></script>

  </body>
</html>
