
<!DOCTYPE html>
<html lang="en" ng-app="rsvp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="rsvps for our conference">
    <meta name="author" content="ff">

    <title>Colab Conference</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/cover.css" rel="stylesheet">

    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8/themes/base/jquery.ui.all.css" rel="stylesheet">

    <!-- angularJS (manipulates some CSS..) -->
    <script type="text/javascript" src="js/angular.min.js"></script>

    <!-- some fonts -->
    <link href='http://fonts.googleapis.com/css?family=Monofett' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>

  <body>

    <div class="site-wrapper">

      <div class="site-wrapper-inner">

        <div class="cover-container">

          <div class="masthead clearfix">
            <div class="inner">
              <h3 class="masthead-brand"></h3>
              <ul class="nav masthead-nav">
              
              </ul>
            </div>
          </div>

          <div class="inner cover" ng-controller="rsvpCtrl" ng-cloak id="background">
            <h1 class="cover-heading" id="title">Colab Conference</h1>
            
            <p class="gfont indentNOW">We are excited to announce <strong>CoLab’s 2014 Conference</strong> will be happening the weekend of <strong>June 21-22</strong>.  The purpose of this conference is to generate a public forum around what ideas and issues we all take to be important, and foment collaboration toward progressing them. During the weekend we hope to give people a chance to share ideas, come up with plans of action, and participate in a bit of manual labor.</p>  

            <p class="gfont indentNOW">The location of the conference is at our land - 656 Fairview School Lane, Gainesboro, TN.  In order to RSVP, click below and join our google group, after which we’ll contact you with further information.  If you have any questions feel free to get in touch with us at contactcolab@googlegroups.com</p>

            <p class="gfont">Hope to see you in June!</p>
            &nbsp;
            
            <p class="lead">
                <!-- Button trigger modal -->
                <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
                  I want to come!
                </button>

                <!-- Modal -->
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">

                    <!-- rsvpCtrl -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modalTitle" id="myModalLabel">Tell us some stuff</h4>
                      </div>

                      <!-- form for submission -->
                      <div class="modal-body">
                        <form class="form-horizontal" role="form" id="rsvpForm">

                          <div class="form-group">
                            <label for="inputName" class="col-sm-3 control-label">name</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="inputName" placeholder="First Last" ng-model="rsvpName">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputEmail" class="col-sm-3 control-label">email</label>
                            <div class="col-sm-9">
                              <input type="email" class="form-control" id="inputEmail" placeholder="p@u.me" ng-model="rsvpEmail">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputDesc" class="col-sm-3 control-label">Your interest</label>
                            <div class="col-sm-9">
                              <textarea rows="5" class="form-control" id="inputDesc" placeholder="Tell us what makes you interested in coming..." ng-model="rsvpDesc"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputLoc" class="col-sm-3 control-label">location</label>
                            <div class="col-sm-9">
                              <select class="form-control" ng-model="rsvpLoc" id="inputLoc" ng-options="l for l in locations">
                                <option value="choose"></option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputTrans" class="col-sm-3 control-label">transportation</label>
                            <div class="col-sm-9">
                              <select class="form-control" ng-model="rsvpTrans" id="inputTrans" ng-options="t for t in transportations">
                                <option selected value="choose"></option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputTransRoom" class="col-sm-3 control-label">capacity</label>
                            <div class="col-sm-9">
                              <select class="form-control" ng-model="rsvpTransRoom" id="inputTransRoom" ng-options="l for l in [1,2,3,4,5,6]">
                                <option value="choose"></option>
                              </select>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputDiet" class="col-sm-3 control-label">food</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="inputDiet" placeholder="any dietary concerns?" ng-model="rsvpDiet">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputMoney" class="col-sm-3 control-label">contribute</label>
                            <div class="col-sm-9">
                              <input type="text" class="form-control" id="inputMoney" placeholder="How much could you contribute any money toward food and other necessities? $15? $30? etc." ng-model="rsvpMoney">
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputComment" class="col-sm-3 control-label">comment</label>
                            <div class="col-sm-9">
                              <textarea type="text" class="form-control" id="inputComment" placeholder="Anything else you'd like to share with us?" ng-model="rsvpComment"></textarea>
                            </div>
                          </div>
                          <div class="form-group">
                            <label for="inputDate" class="col-sm-3 control-label">arrival</label>
                            <div class="col-sm-9">
                              <input id="datepicker" type="text" class="form-control" id="inputDate" placeholder="click to select date" ng-model="rsvpDate">
                            </div>
                          </div>

                        </form>
                      </div>


                      <!-- footer -->
                      <div class="modal-footer">
                        <button type="button" class="btn btn-primary" ng-click="addRsvp()" type="submit" data-dismiss="modal">Submit RSVP</button>
                      </div>
                    </div> <!-- end modal content and rsvpCtrl -->


                  </div>
                </div><!-- end Modal -->


                <!-- 
                <a href="#" class="btn btn-lg btn-default">Tell a friend!</a>
                &nbsp;
                <a href="#" class="btn btn-lg btn-default" data-toggle="modal" data-target="#listModal">See who's coming...</a>

                link out to email -->


                <!-- listModal -->
                <div class="modal fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabelList" aria-hidden="true">
                  <div class="modal-dialog">

                    <!-- modal content -->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modalTitle" id="myModalLabelList">These people are probably coming...</h4>
                      </div>

                      <!-- list people -->
                      <div class="modal-body">
                       <ul class="unstyled" style="padding:0;">
                          <li ng-repeat="rsvp in rsvps">
                            <div ng-show="rsvp.active">
                              <!-- DISPLAY RSVPS  -->
                              <div class="media">
                                
                                <!-- rsvp name and location -->
                                <div class="media-body">
                                
                                  <div class="alert alert-success media-heading">
                                    <span class="lead"><a class="black" ng-click="rsvpEdit()">{{rsvp.name}}</a></span>
                                    <div class="label pull-right black">{{rsvp.location}}</div>
                                  </div>
                                  
                                </div> <!-- end media-body -->
                              </div>
                            </div>
                          </li> <!-- ng-repeat -->
                        </ul>

                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div> <!-- end modal content -->


                  </div>
                </div><!-- end listModal -->
                
            </p>
            
          </div>

          <div class="mastfoot">
            <div class="inner">
              <p>footer...</p>
            </div>
          </div>

        </div>

      </div>

    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/docs.min.js"></script>
    <script src="js/rsvp.js"></script>
    <!-- custom stuff -->
    <script>
      $(function() {
        $( "#datepicker" ).datepicker({
          defaultDate: new Date(2014, 05, 21)
        });
      });
    </script>

  </body>
</html>
